@model BaskontoPedia_IV.Controllers.AccountPlanViewModel

@{
    ViewBag.Title = "Kontoplan";
}

@*<div class="jumbotron">
        <h1>BaskontoPedia</h1>
        <p class="lead">XXX.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

<table class="table">
    <tr>
        @for (int col = 1; col <= 8; col++)
    {
        if (Model.Classes[col] == null)
        {
            <th width="12%">???</th>
    }
    else
    {
        <th width="12%" class="e-frame">@Model.Classes[col].Name</th>

}

}
    </tr>

    @for (int row = 0; row <= 9; row++)
    {
    <tr>
        @for (int col = 1; col <= 8; col++)
        {
            if (Model.Accounts[row,col] == null)
            {
              <td width="12%">???</td>
            }
            else
            {
        <td width="12%" class="e-frame">@Html.ActionLink(Model.Accounts[row, col].AccountId + " " + Model.Accounts[row, col].Name, "Kontogrupp/" + Model.Accounts[row, col].AccountId, "Home")</td>

            }

        }
    </tr>
    }
</table>


