@model BaskontoPedia_IV.Controllers.AccountPlanViewModel

@{
    ViewBag.Title = "Kontoplan";
}

@*<div class="jumbotron">
        <h1>BaskontoPedia</h1>
        <p class="lead">XXX.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>*@

<table class="table">
    <tr>
        @for (int col = 1; col <= 8; col++)
    {
        if (Model.Classes[col] == null)
        {
            <th width="12%">???</th>
    }
    else
    {
        <th width="12%" class="e-frame">@Model.Classes[col].Name</th>

}

}
    </tr>

    @for (int row = 0; row <= 9; row++)
    {
    <tr>
        @for (int col = 1; col <= 8; col++)
        {
            if (Model.Accounts[row,col] == null)
            {
              <td width="12%">???</td>
            }
            else
            {
        <td width="12%" class="e-frame">@Html.ActionLink(Model.Accounts[row, col].AccountID + " " + Model.Accounts[row, col].Name, "Kontogrupp/" + Model.Accounts[row, col].AccountID, "Home")</td>

            }

        }
    </tr>
    }
</table>


            </h6>
        </div>
<div class="col-md-1  e-frame">
    <h6>
        30–34 Huvudintäkter
    </h6>
</div>
    </div>
<div class="row">
    <div class="col-md-1 e-frame">
        <h7>

        </h7>
    </div>
    <div class="col-md-1 e-frame">
        <h6></h6>
    </div>
    <div class="col-md-1 e-frame">
        <h6>
            30–34 Huvudintäkter
        </h6>
    </div>
</div>

<div class="row">
    <div class="col-md-1 e-frame">
        <h7>
            12	Maskiner och inventarier

        </h7>
    </div>
    <div class="col-md-1 e-frame">
        <h6>
            22	Avsättningar
        </h6>
    </div>
    <div class="col-md-1 e-frame">
        <h7>
            30–34 Huvudintäkter
        </h7>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <h6>
            13	 Finansiella anläggningstillgångar

        </h6>
    </div>
    <div class="col-md-1">
        <h6>
            23	Långfristiga skulder
        </h6>
    </div>
    <div class="col-md-1">
        <h6>
            30–34 Huvudintäkter

        </h6>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <h6>
            14	Lager, produkter i arbete och pågående arbeten


        </h6>
    </div>
    <div class="col-md-1">
        <h6>
            24	Kortfristiga skulder till kreditinstitut, kunder och leverantörer
        </h6>
    </div>
    <div class="col-md-1">
        <h6>
            30–34 Huvudintäkter
        </h6>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <h6>
            15	Kundfordringar


        </h6>
    </div>
    <div class="col-md-1">
        <h6>
            25	Skatteskulder
        </h6>
    </div>
    <div class="col-md-1">
        <h6>Web Hosting</h6>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <h6>
            16	Övriga kortfristiga fordringar


        </h6>
    </div>
    <div class="col-md-1">
        <h6>
            26	 Moms och särskilda punktskatter
        </h6>
    </div>
    <div class="col-md-1">
        <h6>Web Hosting</h6>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <h6>
            17	Förutbetalda kostnader och upplupna intäkter


        </h6>
    </div>
    <div class="col-md-1">
        <h6>
            27	Personalens skatter, avgifter och löneavdrag
        </h6>
    </div>
    <div class="col-md-1">
        <h6>Web Hosting</h6>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <h6>
            18	Kortfristiga placeringar


        </h6>
    </div>
    <div class="col-md-1">
        <h6>
            28	Övriga kortfristiga skulder
        </h6>
    </div>
    <div class="col-md-1">
        <h6>Web Hosting</h6>
    </div>
</div>

<div class="row">
    <div class="col-md-1">
        <h6>
            19	Kassa och bank


        </h6>
    </div>
    <div class="col-md-1">
        <h6>
            29	Upplupna kostnader och förutbetalda intäkter
        </h6>
    </div>
    <div class="col-md-1">
        <h6>Web Hosting</h6>
    </div>
</div>

